@media only screen and (max-width:1200px){
    .hero-text-box{
        width:100%;
        padding: 0 2%;
    }
    .row{padding: 0 2%;}
}


@media only screen and (max-width:1023px){
    body{font-size: 18px;}
    section{padding: 60px 0;}
    .step-box{margin-top: 10px;}
    .works-steps{margin-bottom: 40px;}
    .work-step:last-of-type{margin-top: 60px;}
    .laptop{width: 100%}
    .icon-small {
     width: 17px;
     margin-right: 5px; 
    }
    .about branch{
        font-size: 90%;
    
    }
    
}



@media only screen and (max-width:767px){
    body{font-size: 16px;}
    section{padding: 30px 0;}
    
    .row,
    .hero-text-box{padding: 0 2%;}
    .col{width: 100%;}
    .laptop{width:50%;}
    
}



@media only screen and (max-width:500px){
    .box img{
    width: 80%;
    height: auto;
    margin-bottom: 15px;
    }
    .laptop{width:100%;}
    .work-step{text-align: center;}
    .hero-text-box{position: absolute;
         width: 500px;
        padding:0% 2%;}
    section{padding: 25px 0;}
}